/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Laba6_2.cbp
/cmake-build-debug/Laba6_2.exe
/cmake-build-debug/Makefile
/cmake-build-debug/
